@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  border-top-color: #2563eb;
}

@media (max-width: 768px) {
  aside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    height: 100vh;
  }
}
